{% extends 'base.html' %}

{% block content %}

<body>

  <div class="container">
    <h2>All Devices</h2>
    <ul class="list-group">
    <form method="get" action="/all">
      <select name="unit" id="cd-dropdown" class="cd-select">
        <option value="in">in</option>
        <option value="cm">cm</option>
        <option value="Fr">Fr</option>
      </select>
      <button type="submit" class="btn">Refresh Units</button>
    </form>
    {% for product_type, devices in results.items %}
      <h4>{{product_type}}s</h4>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Manufacturer</th>
            <th>Brand Name</th>
            <th>Description</th>
            {% for key in devices.0.3 %}
            <th>{{key}} ({{ units }}) </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for device in devices %}
          <tr>
            <td>{{ device.0 }}</td>
            <td>{{ device.1 }}</td>
            <td>{{ device.2 }}</td>
            {% for value in device.5 %}
            <td>{{value}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
</body>



{% endblock %}
