{% extends 'base.html' %}

{% block content %}

  <body>

  <style type="text/css">
    #center_div {
      position:fixed;
      top: 50%;
      left: 50%;
      width:100em;
      height:18em;
      margin-top: -15em; /*set to a negative number 1/2 of your height*/
      margin-left: -23em; /*set to a negative number 1/2 of your width*/
    }
  </style>

  <div class = "container">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <h1> Plan Surgery </h1>
          <h4> Welcome to the Plan Surgery page! Start by planning a surgery, or reviewing past surgeries! </h4>
        </div>
      </div>
    </div>

    <a href="/plan_surgery/new"> <button type="button" class="btn btn-primary">New Surgery</button></a>
    <a href="/plan_surgery/all"> <button type="button" class="btn btn-primary">Past Surgeries</button></a> <br>
    {% load staticfiles %}
    <img src="{% static "images/world_health.jpg" %}">

  </body>

    
  
{% endblock %}
