<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>All</title>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
    </head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <p> Catheter App </p>
        </a>
      </div>
      <a class="navbar-brand" href="/plan_surgery">Plan Surgery</a>
      <a class="navbar-brand" href="/all">All Devices</a>
      <a class="navbar-brand" href="/admin">Add Devices</a>
    </div>
  </nav>

  <div class="container">
    <h1> Device Specifics </h1>
    <b>{{ message }}</b>
    <ul class="list-group">
      <li class="list-group-item"> <b>Device manufacturer</b>: {{ manufacturer }} </li>
      <li class="list-group-item"> <b>Brand</b>: {{ brand_name }} </li>
      <li class="list-group-item"> <b>Description</b>: {{description}} </li>
      <li class="list-group-item"> <b>Product Type</b>: {{product_type}} </li>
      <li class="list-group-item"> <b>Videos</b>:<br>
        {% for link in useful_links %}
          <iframe width="500" height="400" src="{{ link }}"> </iframe>
          <br>
        {% endfor %}
      <form action="/device/{{ id }}/add_video" method="get">
        <input type="text" name="url"> <br>
        <input type="submit" value="Add video">
      </form>
      </li>   
      <li class="list-group-item">
        <b>Notes</b><br>
        {% if notes %}

          {{ notes |linebreaks}}
        {% endif %}
        <br>
        <div class="form-group">
          <form action="/device/{{ id }}/add_comment" method="get">
            <textarea class="form-control" name="comment" id="comment"></textarea>
            <input type="submit" value="Add notes">
          </form>
        </div>
      </li>
      <li class="list-group-item"> <b>Videos</b>:<br>
        {% for device in compatible devices %}
          <iframe width="500" height="400" src="{{ device }}"> </iframe>
          <br>
        {% endfor %}
      </li>  
    </ul>
  </div>
</body>

</html>
