{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .login-box {
    max-width: 330px;
  }
  .login-box .form-control {
    margin-bottom: 10px;
  }
</style>

<html>
  <head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/new_surgery.css" %}">
    <script src = "https://code.jquery.com/jquery-2.1.4.min.js" ></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.0/fabric.js" > </script>
    <script type="text/javascript"> 
      var devices = [];
      function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
      }
      var add_device = function(id) {
        console.log('first add device:' + id);
        devices.push(id);
        update_list();
        $.getJSON('/device/'+device+'/JSON', function(json) {
            var height = parseFloat(json['height']);
            var width = parseFloat(json['width']);
            console.log('JSON:' + json['height'] + "::" + json['width'] + "::" + json['name']);
            add_device_to_canvas(id, height, width, json['name']);
          });
      };
      var remove_device = function(id) {
        var index = devices.indexOf(id);
        if (index > -1) {
          devices.splice(index, 1);
        }
        $("#device"+id).html("");
        update_list();
        remove_device_from_canvas(id);
      }
      var update_list = function() {
        console.log("called update list");
        var htmlOut = "";
        console.log(devices.length);
        console.log(devices);
        for (var i = 0; i < devices.length; i++) {
          device = devices[i];
          $.getJSON('/device/'+device+'/JSON', function(json) {
            htmlOut += "<li class='list-group-item'><a id='device"+device+"' href='#' onclick='remove_device("+device+");'>"+ json['brand_name'] + " " + json['man'] + " " + json['description'] + " " + json['type'] +"</a></li>";
            $("#active_device_list").html(htmlOut);
          });
        }
      }
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      var csrftoken = getCookie('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
      });
    window.onload = function() {
        var r = /\\u([\d\w]{4})/gi;
        var json = '{{surgery.canvas}}';
        json = json.replace(r, function (match, grp) {
            return String.fromCharCode(parseInt(grp, 16)); } );
        json = htmlDecode(json);
        console.log(json);
        canvas.loadFromJSON(json, canvas.renderAll.bind(canvas), function(o, object) {
          fabric.log(o, object);
        });
        // canvas.loadFromJSON(json);

        // canvas.renderAll.bind(canvas);
    }
    </script>
      
  </head>

  <body>
    <div id="visualization">
      <h2> Visualization </h2>
      <canvas id="visual_surgery" height="425" width="500"> </canvas>
      <script>
        var canvas = this.__canvas = new fabric.Canvas('visual_surgery');
        var add_device_to_canvas = function(rect_id, dev_height, dev_width, name) {
          console.log('rectangle id: ' + rect_id);
          console.log("visualization called");
          console.log('length: '+devices.length);
          console.log('args:: '+dev_height + " | " + dev_width);
          var text = new fabric.Text(name, {
            fontSize: 10,
            fontWeight: 'bold', 
            color: 'black', 
            id: rect_id
          });
          var rect = new fabric.Rect({
            height: dev_height,
            width: dev_width,
            opacity: 0.5, 
            fill: 'red', 
            id: rect_id
          });
          var group = new fabric.Group([ text, rect ], {
            left: 150,
            top: 100,
            hasBorders: false,
            hasControls: false,
            hasRotatingPoint: false
          });
          canvas.add(group);
          canvas.on({'object:moving': onChange});
          
          function onChange(options) {

          options.target.setCoords();
          canvas.forEachObject(function(obj) {
            if (obj === options.target) return;
              //obj.setOpacity(options.target.intersectsWithObject(obj) ? 0.5 : 1);
              var heightFit = obj.getHeight() > options.target.getHeight();
              var widthFit = obj.getWidth() >= options.target.getWidth();
              var collision = options.target.intersectsWithObject(obj) && heightFit || options.target.isContainedWithinObject(obj);
              obj.item(1).setColor(collision ? 'green' : 'red');
              options.target.item(1).setColor(collision ? 'green' : 'red');

            });
          }
        }

        var remove_device_from_canvas = function(rect_id) {
          var objects = canvas.getObjects();
            for (var i = 0; i < objects.length; ++i) { 
                console.log(objects[i]._objects[0].id);
                if (objects[i]._objects[0].id == rect_id) {
                    canvas.remove(objects[i]);
                }
            }
        }
      </script>
    </div>

  </body>
</html>

{% endblock %}