{% extends 'base.html' %}

{% block content %}

<body>


  <div class="container">
  <h2>Add Device</h2>
   <form action="/submit_device/" method="post">
      {% csrf_token %}

      <div class="col-xs-4">
        <label for="ex3">Manufacturer</label>
        <input name="manufacturer" class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Brand Name</label>
        <input name="brand_name" class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Description</label>
        <input name="description" class="form-control" id="ex3" type="text">
      </div>
      
      <input type="hidden" name="device_type" value="{{device_type_name}}" class="form-control">
      {% for f in fields %}
      <div class="col-xs-4">
        <label for="ex3">{{f}}</label>
        <input name="{{f}}" class="form-control" id="ex3" type="number" step="any">
        <select name="{{f}}_unit" id="cd-dropdown" class="cd-select">
          <option value="cm">cm</option>
          <option value="Fr">Fr</option>
          <option value="in">in</option>
        </select>
      </div>
      {% endfor %}
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="btn">Add</button>
      </div>
    </form>
  </div>
</body>

{% endblock %}