<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>All</title>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
    </head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <p> Catheter App </p>
        </a>
      </div>
      <a class="navbar-brand" href="/plan_surgery">Plan Surgery</a>
      <a class="navbar-brand" href="/all">All Devices</a>
      <a class="navbar-brand" href="/admin">Add Devices</a>
    </div>
  </nav>

  <div class="container">
    <h2>Add Device</h2>
    <ul class="list-group">
      {% for d in devices %}
        <li class="list-group-item">
        <a href="/device/{{ d.id }}/"> {{ d.brand_name }} {{ d.manufacturer }} {{ d.description }} {{ d.product_type }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="container">
    <h2>Select Device Type</h2>
    <select id="cd-dropdown" class="cd-select">
      {% for t in types %}
        <option> {{t}} </option>
      {% endfor %}
    </select>
    <a href="/add_device_2"><button type="button" class="btn">Next</button></a>
  </div>



</body>

</html>
