<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Catheter App</title>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
  </head>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <p><b>Catheter App</b></p>
        </a>
      </div>
      <a class="navbar-brand" href="/plan_surgery">Plan Surgery</a>
      <a class="navbar-brand" href="/all">All Devices</a>
      <a class="navbar-brand" href="/add_device">Add Device</a>
      <a class="navbar-brand" href="/add_device_type">Add Device Type</a>
      <a class="navbar-brand" href="/device_search">Search</a>
      {% if request.user.is_authenticated %}
      <a class="navbar-brand navbar-right" href="/logout">Log Out</a>
      {% else %}
      <a class="navbar-brand navbar-right" href="/login">Log In</a>
      {% endif %}
      <a class="navbar-brand navbar-right" href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
    </div>
  </nav>


{% block content %}
{% endblock %}

</html>
