{% extends 'base.html' %}

{% block content %}
<body>



<div class="container">
<div class="jumbotron">
  <h1> Welcome to Catheter App! </h1>
  <h2> Please select an action. </h2>
  <a href="/plan_surgery"><button type="button" class="btn btn-danger">Plan Surgery</button></a>
  <a href="/admin"><button type="button" class="btn btn-primary">Add Catheter</button></a>
  <a href="/all"><button type="button" class="btn btn-warning">View All Catheters</button></a>
</div>
</div>

</body>

{% endblock %}
