<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Catheter App</title>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
  </head>

  <body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <p> Catheter App </p>
        </a>
      </div>
      <a href="/plan_surgery"><button type="button" class="btn btn-default navbar-btn">Plan Surgery</button></a>
      <a href="/all"><button type="button" class="btn btn-default navbar-btn">View Catheters</button></a>
    </div>
  </nav>


  <div class="container">
    <div class="jumbotron">
      <h1> Welcome to the surgery planning page! </h1>
      <h2> Please select an action! </h2>
      <a href="/plan_surgery">Plan Surgery </a> <br>
      <a href="/admin">Admin </a> <br>
      <a href="/all"> View all catheters </a> <br>
    </div>
  </div>

  </body>

</html>
