#parent_div_1 {
    width:auto;
    height:auto;
    min-width: 300px;
    min-height: 300px;
    border:1px solid black;
    margin-right:10px;
    float:left;
}
#parent_div_2 {
    width:auto;
    height:auto;
    min-width: 300px;
    min-height: 300px;
    border:1px solid black;
    margin-right:10px;
    float:left;
}

